<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Echo Server</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<style>
    	th {
        	text-align: left;
    	}
	</style>

</head>

<body>
    <h2>Hello! I am {{server}}.</h2>
	<h2>I received the following request headers:</h2>
	<table>
		<tr>
			<th>Key</th><th>Value</th>
		</tr>
		{% for (key, value) in headers %}
		<tr>
		  	<td>{{ key }}</td><td>{{ value }}</td>
		</tr>
		{% endfor %}
</body>
</html>